---
import ButtonC from "../components/ButtonC.astro";
const { title, beskrivelse, pris, status, imgPath, button_tekst, levering, button_class } = Astro.props;

---

<div class="card">
    <img src={imgPath} alt="" height="350" width="350" />

    <p class="produkt">{title}</p>

    <p class="beskrivelse">{beskrivelse}</p>

    <p class="pris">{pris}</p>

    <div class="info">
        <p class="status">{status}</p>
        <p class="levering">{levering}</p>
    </div>
    <button class={button_class}>{button_tekst}</button>

    

  </div>

<style>
    .card {
  border-radius: var(--buttonBorderRadiusSm);
  padding: var(--cardStackLg);
  transition: 0.3s;
  max-width: 300px;
  margin: auto;
  text-align: left;
  background-color: var(--colorBackground);

}

.card img {
  width: 100%;
}

.produkt {
  margin-top: var(--cardStackLg);
  margin-bottom: 0px;
  /* font-size: var(--cardTitelText); */
  font-size: 18px;
  font-weight: 500;

}

.beskrivelse {
  margin-top: var(--cardStackMd);
  margin-bottom: 0px;
  font-size: 16px;
}


.pris {
  margin-top: var(--cardStackLg);
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: bold;
}

.card .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid grey;
  opacity: var(--cardTextOpacity);
  font-size: 16px;
}

.card .knap-lager {
  background-color: var(--colorGreen400);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}


.card .knap-udsolgt {
  background-color: var(--colorBlue400);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.card .knap-snart {
  background-color: var(--colorGray200);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}


.card .knap:hover {
  background-color: #3e8e41;
}

</style>