---
import Button from "../components/Button.astro";
const { title, beskrivelse, pris, imgPath, undertitel, button, levering } = Astro.props;
---

<article>
  <div class="product">
    <img src={imgPath} alt="" height="350" width="350" />
  </div>
  <div class="single">
    <div class="single-title">
        <p class="productTitle">{title}</p>
        <p class="productUnder">{undertitel}</p>
    </div>

    <div class="oenske">
        <div class="liste">TILFØJ ØNSKELISTE</div>
        <div class="favorit">TILFØJ SOM FAVORIT</div>
        <div class="butik">FIND I BUTIK</div>
    </div>

    <div class="interaction"></div>

    <div class="single_descripton">
        <p class="beskrivelse">{beskrivelse}</p>
    </div>

    <div class="single-grid-1">
        <p class="pris">{pris}</p>
        <p class="levering">{levering}</p>
    </div>
    <div class="single-grid-2">
      <div id="counter" class="counter">
        <button onclick="decrementCounter()" class="counter-btn">-</button>
        <span id="counter-value" class="counter-value">0</span>
        <button onclick="incrementCounter()" class="counter-btn">+</button>
      </div>
      <div>
        <Button href="/" variant="primary">Læg i kurv</Button>
      </div>
    </div>
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 700px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    background-color: white;
  }

  .productTitle {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;

  }
  .productUnder {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .beskrivelse {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .oenske {
    display: flex;
    font-size: 12px;
    gap: 32px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  img {
    width: 100%;
  }

  .pris {
  margin-top: var(--cardStackLg);
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: bold;
}
  .product {
    place-content: center;
  }
  .single {
    max-width: 500px;
    margin-left: 31px;
  }
 
  .single_descripton {
    margin-bottom: 64px;
  }
  .single-grid-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
  }
  .single-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
 
  .knap:hover {
    background-color: #4caf50;
  }

  h1 {
    font-size: 2.441rem;
    margin-bottom: -3%;
  }
  h2 {
    font-size: 1.953rem;
  }

  p {
    font-size: 1rem;
    max-width: 64vh;
  }
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    border: solid grey;
  }

  .counter-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .counter-value {
    font-size: 1rem;
  }
</style>
