---
const { h1, h2, h3, h4, h5, h6, p } = Astro.props;
---

<div class="card">
    <div class="h1">{h1}</div>

    <div class="h2">{h2}</div>

    <div class="h3">{h3}</div>

    <div class="h4">{h4}</div>

    <div class="h5">{h5}</div>

    <div class="h6">{h6}</div>

    <div class="p">{p}</div>

  </div>


  <style>
    .h1 {
        font-size: var(--text4xl);
        font-weight: 700;
        margin-bottom: 16px;
    }

    .h2 {
        font-size: var(--text3xl);
        font-weight: 500;
        margin-bottom: 16px;
    }

    .h3 {
        font-size: var(--text2xl);
        margin-bottom: 16px;
    }

    .h4 {
        font-size: var(--textXl);
        margin-bottom: 16px;
    }

    .h5 {
        font-size: var(--textLg);
        font-weight: 500;
        margin-bottom: 16px;
    }

    .h6 {
        font-size: var(--textBase);
        margin-bottom: 16px;
    }
    .p {
        font-size: var(--textSm);
        margin-bottom: 16px;
    }
  </style>